body {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

main {
  max-width: 960px;
  margin: 2em auto;
  text-align: center;
  border: 5px solid #f7df1e;
}

header {
  text-align: center;
  margin: 3em 0 0;
  padding: 2em 0 0;
}

.next {
  display: none;
}

.start,
.next {
  margin: 2em 0 0;
  width: 5em;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: #f7df1e;
}

.start:hover,
.next:hover {
  cursor: pointer;
}

.js-span {
  background-color: #f7df1e;
  padding: .2em;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 1em;
}

#message {
  margin-top: .4em;
}

.questions {
  margin-top: 2em;
  margin-bottom: 2em; 
}

.space {
  margin: .6em;
}

.answer-div {
  margin: 1em;
}
